.container{
  max-width: 1320px;
  padding: 0 12px;
}

//utils
.mb-20{
  margin-bottom: 6rem;
}

//swiper1
.nav-btn{
  border: 0;
  color: #ffffff;
  background-color: orange;
  opacity: 0.6;
  width: 100px;
  height: 100px;
  transition: 0.6s;
  position: absolute;
  z-index: 10;
  top: var(--swiper-navigation-top-offset, 40%);
}
.nav-btn-hover:hover{
  opacity: 1;
}
.swiper1-button-prev{
  left: var(--swiper-navigation-sides-offset, -30px);
  right: auto;
  &:hover{
    transform: translateX(-15px);
  }
}
.swiper1-button-next{
  right: var(--swiper-navigation-sides-offset, -30px);
  left: auto;
  &:hover{
    transform: translateX(15px);
  }
}

//swiper2
.mySwiper2 img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.nav-btn2{
  border: 0;
  background-color: #ffffff;
  width: 70px;
  height: 70px;
  transition: 0.3s;
  position: absolute;
  z-index: 10;
  top: var(--swiper-navigation-top-offset, 40%);
}
.nav-btn2-hover:hover{
  background-color: orange;
  color: #ffffff;
}
.swiper2-button-prev{
  left: var(--swiper-navigation-sides-offset, 150px);
  right: auto;
  &:hover{
    transform: translateX(-10px);
  }
}
.swiper2-button-next{
  right: var(--swiper-navigation-sides-offset, 150px);
  left: auto;
  &:hover{
    transform: translateX(10px);
  }
}

:root .swiper2-pagination{
  --swiper-theme-color: orange;
}